*{
    font-family: poppins;
    color: #0B0808;
    padding: 0;
    margin: 0;
    
}

/* header starts here*/
.header{
    /* background-color: antiquewhite; */
    height: 10vh;
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    flex: auto;
}
.nav{
    flex: auto;    
}
a{
    padding: 0 0.5rem;
    text-decoration: none;
}
.contact{
    display: flex;
    justify-content: flex-end;
}
.btn_contact{
    background-color: #F6FEF9;
    border: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

/* header ends here */

/* hero content starts here */
.main{
    height: 70vh;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 1vh;
    /* border: solid; */
}
.main img{
    max-width: 40%;
    width: 100%;
    height: auto;
    
    border-radius: 1rem;
}
.content{
    width: 45%;
}
.content p{
    width: 86%;
}

.btn_cta{
    background-color: #5efd8b;
    border-radius: 0.25rem;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 420;
    border:none
}

h1{
    font-size: 3rem;
    line-height: 130%;
}
p{
    padding: 1rem 0;
    font-size: 1rem;
}
/* hero content ends here */