*{
    font-family: poppins;
    color: #0B0808;
    padding: 0;
    margin: 0;
    background-color: #fbfdfc;    
}
/********************************** Refer these websites******************************
https://www.zriadventures.com/
https://www.rapidadventures.lk/ */

/* header starts here*/
.header{
    height: 10vh;
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    flex: auto;
}
.nav{
    flex: auto;    
}
a{
    padding: 0 0.5rem;
    text-decoration: none;
}
.contact{
    display: flex;
    justify-content: flex-end;
}
.btn_contact{
    background-color: #F6FEF9;
    border: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
/* header ends here */

/* hero content starts here */
.main{
    max-height: 70vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
    margin:auto;
    gap: 4vw;
    margin-top: 4vh;
    /* border: solid; */
}
.main img{
    width: 35%;
}

h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 130%;
}
p{
    padding: 1rem 0;
    font-size: 1rem;
    width: 80%;
}
.content{
    width: 45%;
}

.btn_cta{
    background-color: #5efd8b;
    border-radius: 0.25rem;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 420;
    border:none
}

/* hero content ends here */

@media screen and (max-width: 600px) {
    .hero_image{
       visibility: hidden;
    }
}

@media screen and (max-width:992px){
  
    .main{
        max-height: 80vh;
        width: 90vw;
        flex-direction: column;
        text-align: center;
        margin-top: 4vh;
    }
    .main img{
        width: 45%;
    }
    .content, .content p{
        width: 100%;
    }
    .content h1{
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 120%;
    }

}

@media screen and (max-width:1181px){
    h1{
        font-size: 3rem;
        font-weight: 600;
        line-height: 120%;
    }
}

/* @media (min-width: 768px) {
    h1 {
      font-size: calc(1rem + ((1vw - 7.68px) * 2.7778));
      min-height: 0vw;
    }
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 64px;
    }
  } */